version: '{build}'
skip_tags: true
image: Visual Studio 2022
test: off
build_script:
  - pwsh: ./Build.ps1
artifacts:
  - path: artifacts/Serilog.*.nupkg
deploy:
  - provider: NuGet
    api_key:
      secure: LE+O+3Zs0nz2F/+M4eDvKBhEBUpUV0t864vN/2dxwa7aIVqeU3pKSMjWRX+JWJ49
    skip_symbols: true
    on:
      branch: /^(main|dev)$/
  - provider: GitHub
    auth_token:
      secure: p4LpVhBKxGS5WqucHxFQ5c7C8cP74kbNB0Z8k9Oxx/PMaDQ1+ibmoexNqVU5ZlmX
    artifact: /Serilog.*\.nupkg/
    tag: v$(appveyor_build_version)
    on:
      branch: main

